/* app css stylesheet */
html {
  font-family: Comfortaa;
  color: white;
}

body {
  background-color: purple;
}

.textCenter {
  text-align: center;
  height: 120px;
  position: relative;
  margin: 0px;
}

.center {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}